html,
body {
  margin: 0;
  padding: 0;
}

#start {
  text-align: center;
  height: 70px;
  width: 170px;
  background-color: #ff0000;
  text-align: center;
  color: #ffffff;
  font-size: 20pt;
  border-radius: 18px;
  margin: 5px;
  padding: 5px;
  user-select: none;
  margin: auto;
}
#start:hover {
  background-color: #d7bed5;
  cursor: pointer;
}
#popup {
  background-color: #748f81;
  height: 650px;
  width: 650px;
  margin: 5% auto;
  border-radius: 5px;
  color: #e0f2ff;
  padding: 25px 50px;
  position: relative;
  -webkit-box-shadow: 0px 0px 21px 11px rgba(0, 0, 0, 0.34);
  -moz-box-shadow: 0px 0px 21px 11px rgba(0, 0, 0, 0.34);
  box-shadow: 0px 0px 21px 11px rgba(0, 0, 0, 0.34);
}
#popupwrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(205, 221, 184, 0.639);
}
form {
  height: 100%;
  display: flex;
  flex-direction: column;
}
form > div {
  margin: 10px 0;
}
form textarea {
  resize: none;
  width: 100%;
  height: 150px;
  margin-top: 5px;
  border-radius: 5px;
  border: none;
  padding: 8px 10px;
  font-size: 12pt;
}
.field {
  width: 100%;
  height: 40px;
  margin-top: 5px;
  border-radius: 5px;
  border: none;
  padding: 5px 10px;
  font-size: 12pt;
}
.popuptitle {
  text-align: center;
  font-size: 25pt;
  margin-bottom: 10px;
}
.titlefield {
  font-size: 14pt;
}
#submit {
  background-color: #ff0000;
  width: 150px;
  height: 35px;
  text-align: center;
  font-size: 20pt;
  border-radius: 5px;
  margin-top: 50px;
  margin-left: 100px;
  color: #e0f2ff;
  border: none;
}
#submit:hover {
  cursor: pointer;
  background-color: #3ffb00;
}
#exit {
  background: #7B68EE("./obelus.svg") center 100% no-repeat;
  height: 22px;
  width: 22px;
  position: absolute;
  top: 12px;
  right: 14px;
  cursor: pointer;
}
* {
  font-family: Gill Sans Extrabold, sans-serif;
  box-sizing: border-box;
}
@media screen and (max-width: 750px) {
  #popup {
    width: 320px;
    margin: auto;
    border-radius: 0;
    max-height: 500px;
    overflow: hidden;
    top: 5%;
  }
  .field {
    height: 30px;
    margin-top: 5px;
    font-size: 10pt;
  }

  form textarea {
    height: 100px;
    font-size: 10pt;
  }
  .titlefield {
    font-size: 10pt;
  }
  #submit {
    width: 150px;
    height: 35px;
    font-size: 20pt;
    margin-top: 0px;
    margin-left: 100px;
  }
}
